<h1>Contact: <%=@selected_contact.first_name + @selected_contact.last_name%></h1>


<h3>Addresses:</h3>
<ul>
  <%=@selected_contact.addresses.each do |address|%>
  <%=%>
  <%=%>
  <%=%>
  <%end%>
</ul>
